
<div class="container mt-4 text-end">
    <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar sesión</button>
</div>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <h2 class="mb-4">Menú Principal</h2>
  
      <div class="d-grid gap-3">
        <button class="btn btn-primary btn-lg" routerLink="/inventario">
          📦 Inventario
        </button>
        <button *ngIf="this.rol != 1" class="btn btn-success btn-lg" routerLink="/salida">
          ➖ Salida de Productos
        </button>
        <button *ngIf="this.rol != 2"   class="btn btn-secondary btn-lg" routerLink="/historial">
          🕓 Historial de Movimientos
        </button>
      </div>
    </div>
  </div>
  